/* Add CSS Styling */
.odd {
    background-color: rgb(250, 179, 212);
    font: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#four {
    background-color: rgb(186, 255, 197);
    font-weight: bold;
}