* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 4fr auto;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer"
  ;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-area: header;
  color: white;
  align-items: center;
  grid-template-columns: 1fr 5fr;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  direction: rtl;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(4, minmax(80px, 1fr));
  gap: clamp(20px, 5vh, 64px);
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .photo,
.sidebar .side-content {
  display: grid;
  align-content: center;
  justify-content: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  gap: 4px;
  grid-auto-rows: minmax(auto, 200px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}